<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Handler"
           verb="*" path="*" type="HttpHandler"
           preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=citppo3\sql2017;Initial Catalog=TEST;Integrated Security=True;User ID=EmK3zeQ5@pT$;Password=mI|$vakO$tZr0428u~JLsl57; Max Pool Size=200;"/>
  </connectionStrings>
</configuration>
